{{!< layout }}

{{#extend "pageTitle"}}Account History{{/extend}}


{{#extend "content"}}
<link rel="stylesheet" href="/css/table.css">
<div class="card">
    <h3>Recent Statements</h3>

    <table class="table table-hovered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            {{#each histories}}
            <tr>
                <td>{{this.id}}</td>
                <td>
                    {{this.text}}<br>
                    <div style="text-align:right;color: #636363;font-size:0.9rem;">{{this.time}}</div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/extend}}