{{!< layout }}

{{#extend "pageTitle"}}Change Password{{/extend}}


{{#extend "content"}}
<div class="card">
    <h3>Update Password</h3>
    <form action="" method="post">
        <label>Old Password</label>
        <input type="password" name="oldPassword" class="form-fields">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-fields">
        <label>Confirm Password</label>
        <input type="password" name="newPassword2" class="form-fields">
        <button class="btn btn-block">Set New Password</button>
    </form>
</div>
{{/extend}}