* {
     color: white;
}

#container {
     background: linear-gradient(to top, #046DA7 0%, #1CB9F0 100%, #ADE3FF 100%);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     overflow: auto;
}

.logo {
     margin-top: 5rem;
     text-align: center;
}

.logo-register {
     margin-top: 1rem;
     text-align: center;
}

#form {
     padding: 1rem;
}

.text-center {
     text-align: center;
     margin: 1rem 0;
}