{{!< layout }}

{{#extend "pageTitle"}}Home{{/extend}}


{{#extend "content"}}
Balance: {{balance}} NPR
{{!-- Passenger Home
<button class="btn">Hello</button>
<button class="btn btn-block">Hello</button>

<input type="text" class="form-fields">
<label>Hello</label>
<select name="" id="" class="form-fields">
    <option value="Kathmandu">Kathmandu</option>
    <option value="Kathmandu">Kathmandu</option>
    <option value="Kathmandu">Kathmandu</option>
    <option value="Kathmandu">Kathmandu</option>
</select> --}}
{{/extend}}