{{!< layout }}

{{#extend "pageTitle"}}Recharge{{/extend}}


{{#extend "content"}}
<div class="card">
    <h3>Recharge</h3>
    <form action="" method="post">
        <label>Card Number</label>
        <input type="text" name="card_number" class="form-fields">
        <button class="btn btn-block">Proceed Recharge</button>
    </form>
</div>
{{/extend}}